#cartas{
    border-radius: 10px; 
    height: 500px; 
    width: 350px; 
    border: solid black 1px;
}

#cartas img{
    height: auto; 
    width: 300px; 
    display: block; 
    margin: 20px auto;
}
#cont_cartas_info{
    height: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;

    overflow: auto;
    word-wrap: break-word;
    hyphens: auto;
}

#cartas_info{
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;

    overflow: auto;
    word-wrap: break-word;
    hyphens: auto;
}


.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

/* Mostrar la ventana modal cuando el checkbox está activado */
#btn_modal:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.contenedor {
  width: 400px;
  height: 300px;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

/* Animación de aparición */
#btn_modal:checked ~ .modal .contenedor {
  transform: translateY(0%);
}

.contenedor header {
  padding: 10px;
  background: #db8046;
  color: #fff;
}

.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.contenido {
  width: 100%;
  padding: 10px;
}

.contenido h3 {
  margin-bottom: 10px;
}

.contenido p {
  margin-bottom: 7px;
}

#btn_modal {
  display: none;
}

#cerrar{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #9c2828;
}

/* Botón para abrir el modal */
.lbl_modal {
  background: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#lab{
    font-size: 25px;
    border: solid black 1px;
    border-radius: 10px;
}